[Unit]
Description=HomeBus GoFundMe publisher
After=network.target

[Service]
Type=simple

User=homebus
WorkingDirectory=/home/homebus/homebus-gofundme

ExecStart=/home/homebus/.rbenv/bin/rbenv exec bundle exec homebus-gofundme.rb
TimeoutSec=30

Restart=always

[Install]
WantedBy=multi-user.target

